<form action="/list"> methof="POST">
	<label for="order">Sort By</label>
	<select name="order">
		<option value="rank">Rank (default)</option>
		<option value="name">Name ></option>
		<option value="ryear">Year ></option>
	</select>
	<label></label>
	<select name="rank">
		<% (1..NUMBER_OF_ALBUMS).each do |i| %>
		<% "option va;ue=\"#{i}\">#{i}</option>\n" %>
		<% end %>
	</select>
	<input type="submit" value="Display List">
</form>
