<html>
<head>
	<title>Top 100 Albums</title>
</head>
<style>
	tr.highlight {background-color: #fffcb7;}
</style>
<body>
	<h1 align="center">Rolling Stone's Top 100 Albums Of All Time</h1>

	<%= yield %>

</body>
</html>