<html>
  <head>
  		<title>Top 100 Albums Of All Time</title>
  </head>
  <h2><%= secret %></h2>
  <body>
	<h1 align="center" <font color = "blue" >Rolling Stone's Top 100 Albums Of All Time</font></h1>
	<form action="/list" method="GET">
	<select name="sort_by">
			<option value="">Sort By</option>
			<option value="rank" selected>Rank</option>
			<option value="name">Name</option>
			<option value="year">Year</option>
		</select><br>
		<select name="highlight">
			<option value="">Select A Rank To Highlight</option>
			<select name ="rank">
        	<% (1..100).each do |i| %>
        	<option value = "<%= i %>"><%= i %></option>
        	<% end %>
      	</select>
      <input type="submit" value="Display List">
    </form>
  	</body>
</html>